* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}

.loggingContainer {
  position: absolute;
  top: 80px;
  left: 480px;

  p {
    font-weight: 530;
    line-height: 1.4;
  }

  span {
    color: rgb(161, 161, 161);
  }

  .previousCounterValues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 540px;
    overflow: scroll;
    margin-top: 10px;

    span {
      margin: 5px;
    }
  }
}

.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  background: linear-gradient(50deg, blue, pink);
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  .resetCircle {
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 20px;
  }

  button {
    all: unset;
    font-size: 28px;
    font-weight: 200;
    background: none;
  }
}
